<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" href="static/Dobak/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Noto+Sans:wght@900&display=swap" rel="stylesheet">
</head>

<body style="
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    ">
    <main style="
    text-align: center;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ">
        <a href="/" style="
        text-decoration: none;
        color: inherit;
        margin-top: 50px;
        ">
            <h1 style="font-size: 120px;">FB.JAMSIN.tk</h1>
        </a>

        <a href="select/", style="text-decoration: none;">
            <div style="
                font-size: 80px;
                position: relative;
                width: 600px;
                height: 120px;
                background-color: rgb(255, 255, 255);
                border-radius: 50px 50px 20px 20px;
                text-align: center;
                color: black;
            ">
                응원하러 가기
            </div>
        </a>
<br>
        <div style="font-size: 60px;" >
            예정된 경기
            <div style="font-size: 50px; width: 600px;">
            {% for match in latest_match_list %}
                <p>{{ match.match_title }} {{ match.pub_date|date:'m월 d일' }}</p>
            {% endfor %}
            </div>
        </div>
<br>
        <div style="
            position: relative;
            width: 500px;
            height: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 20px 20px 20px 20px;
            margin-top: -50px;
        "></div>
<br>
        <div style="font-size: 60px;">
            현재 득표 수
            <div style="font-size: 50px; width: 600px; margin-top: 0px;">
            {% for match in latest_match_list %}
                {% for choice in match.choice_set.all %}
                    {{ choice.choice_team }}: {{ choice.votes }}표
                    {% if not forloop.last %}vs {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
            </div>
        </div>
<br>
        <div style="
                font-size: 40px;
                position: relative;
                width: 600px;
                height: 70px;
                background-color: rgb(255, 255, 255);
                border-radius: 20px 20px 50px 50px;
                text-align: center;
                color: rgb(200, 200, 200);
                top: -20px
            ">
            Made By「YKK」
        </div>
    </main>
</body>

</html>